* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1
}

.picture {
    position: absolute;
    left: 50%;
    height: 250px;
    width: 250px;
}
.btn {
    position: absolute;
    width: 105px;
    height: 50px;
    top: 400px;
    font-size: 30px;
    border: none;
    color: #ffffff;
    background-color: grey;
    
}
