@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #e1e1e1;

}

.container{
    height: 100vh;
    width: 100vw;
}
.pictureHint{
    font-family: "Press Start 2P", sans-serif;
    right: 0;
    transition: .5s ease;
    background-color:grey;
    font-size:25px;
    position: absolute;
    height: 200px;
    width: 400px;
    padding: 15px;
    color: white;
}
.random {
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    background-color: grey;
    color: white;
    width: 105px;
    height: 50px;
    font-family: "Press Start 2P", sans-serif;
    /* left: 200px */
}

.picture {

    position: absolute;
    left: 50%;
    height: 250px;
    width: 250px;
    transition: .5s ease;
}
.pictureShow {
    position: absolute;
    opacity: 1;
    transition: 1s ease;
    border: 7px;
    border-style: solid;
    border-color: black;

}
.pictureShow .show {
    opacity: 1;
}
.btn {
    position: absolute;
    /* width: 105px;
    height: 50px;
    top: 60px; */
    font-size: 17px;
    border: none;
    color: #ffffff;
    background-color: grey;
    cursor:pointer;
    font-family: "Press Start 2P", sans-serif;
    border-radius: 5px;
}

.btn:hover{
    opacity: .8;
}

.btnShow{
    position: absolute;
    top: 50%;
    font-size: 17px;
    height: 50px;
    width: 105px;
    border:none;
    color: #ffffff;
    background-color: grey;
    cursor:pointer;
    z-index: 100;
    font-family: "Press Start 2P", sans-serif;
    border-radius: 5px;
}
.btnShow:hover{
    opacity: .8;
}
