* {
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(90deg, plum, powderblue);
    display: flex; /* Uses flexbox; Responds to different screen sizes */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center */
    height: 100vh; /* Setting body height to 100%; Need for align items to work*/
    /* top: 100;
    left: 100; */
    margin: 0;
}

.nav{
    left: 20px;
    top:20px;
    right: 86.5%;
    /* background-image: linear-gradient(90deg, #abc8c7, #b0a1ba); */
    /* background-image: linear-gradient(90deg, powderblue, plum); */
    /* background-color: #abc8c7; */
    /* background-color: #b0a1ba; */
    background-color: #8d80ad;
}

.topHeader a {
    position: fixed;
    background-color: purple;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 20px 0;


}


.welcome {

    font-size: 86px;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgba(60,60,60,0.8);
    top: 65px;
}

.peak {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgba(60,60,60,0.8);
    top: 165px;

}

.menu {
    position: absolute;
    cursor:pointer;

    background-color: #8d80ad;
    font-weight: bold;
    font-size: 15px;
    left: 20px;
    top: 150px;
    padding: 20px 10px;
    transition: ease-out .3s;
}

.menu.active {
    /* transform: rotate(0deg) */
    padding: 150px 75px;
    /* transform: rotate(45deg); */
    /* left: 90px;
    top: 258px; */
    color: blue;
}

.menu.active.doubleActive {
    transform: rotate(25deg);
}
.menu.active.doubleActive.tripleActive {
    transform: rotate(15deg);
}

.menu.active.doubleActive.quadActive {
    transform: rotate(0deg);
}


.links {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: plum;
    margin: 25px;
    border-radius: 5px;
}

/* .milly {
    /* align-items: center;
    justify-content: center;
    position: absolute;
    height: 200px;
    width: 150px;
    left: 50px;
    top: 200px;
} */

.tired {
    position: absolute;
    left: 40%;
    top: 68%;
}

.misery {
    position: absolute;
    height: 200px;
    width: 150px;
    right: 50px;
    top: 50px;
}
