

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
}


.bg {
    background-image: url('../Images4Website/TimeWasted.gif');
    background-size: contain;
    background position: center;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 90%;
    height: 90vh;
    position: absolute;
    filter: blur(50px);
    z-index: -1;
    top: 15%;
    right: 0px;
}

.loading-text {
    font-size: 50px;
    color: white;

}
