* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, plum, powderblue);

}

.header {
    position:absolute;
    top:150px;

}

.header h1 {
    text-align: center;
    font-size: 4em;
}

.header h2 {
    position: absolute;
    top: 120px;
    left: 60px;
    font-size: 2em;
}

.Interest {

    position: absolute;
    text-align: center;
    bottom: 200px;
    font-size: 1em;
}
.please {
    /* background-color:red; */
    position: absolute;
    height: 300px;
    width: 300px;
    top: 330px;
}
