* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(90deg, plum, powderblue);
}

.upKey {
    background-image: url('../Images4Website/arrowUp.gif');
    width: 100px;
    max-width: 10%;
    height:100px;
    position:absolute;
    bottom: 0px;
    left: 30%;
    background-size: contain;
    background position: center;
    background-repeat: no-repeat;
}
.leftKey {
    background-image: url('../Images4Website/arrowLeft.gif');
    width: 100px;
    /* height:100px; */
    max-width: 10%;
    height:100px;
    position:absolute;
    bottom: 0px;
    right: 30%;
    background-size: contain;
    background position: center;
    background-repeat: no-repeat;
}

.food {
    position: absolute;
    height: auto;
    max-width:30%;
    width: 600px;
    top: 10%;
    left: 0px;
}

.little {
    position: absolute;
    height: auto;
    width: 330px;
    max-width: 50%;
    bottom: 0px;
    right: 0px;
}


.text {
    font-weight: bold;
    font-size: 2.5vw;

}
