* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(90deg, plum, powderblue);
}

.food {
    position: absolute;
    height: 35%;
    width: 25%;
    top: 0px;
    left: 0px;
}

.little {
    position: absolute;
    height: 270px;
    width: 330px;
    bottom: 0px;
    right: 0px;
}


.text {
    font-weight: bold;
    font-size: 1.5em;

}
